# Data Types: Strings

Think about the type of data that you're likely to see as a data scientist. Does it only contain numbers? Of course not! Much of the data you'll see comes in the form of *text*. Most programming languages have a special data type for storing text, called **strings**. In this section, we'll move beyond using Python as a simple calculator and use it to do some simple text analysis.

## Creating Strings

To create a string in Python, write some text surrounded by quotation marks: `"`:

In [ ]:
"Word"

In [ ]:
"More than one word, and punc-tu-a-tion!"

In [ ]:
# not a number, since we're using quotes!
"3"

Notice that Python displays our string with single quotes around it -- this is its way of letting us know that it is indeed a string.
As before, we can use the `type` function to what type Python believes these pieces of data to be:

In [ ]:
type("Word")

In [ ]:
type("3")

Of course, `str` is short for "string".

As with numbers, we can use variables to store strings:

In [ ]:
s = "Hello world!"
s

If you don't like double-quotes, you're in luck: you can write strings using single quote marks just the same:

In [ ]:
'Word'

In [ ]:
'More than one word, and punc-tu-a-tion!'

Unlike in other languages, there is no difference between using single quotes and double quotes in Python.

What happens if you don't put anything inside of the quotes?

In [ ]:
''

This is fine! We call it an *empty string*.

## More on single vs. double quotes

We said above that there is no real difference between using single quotes and double quotes to create strings, but there are instances where one is preferable over the other.

For instance, what if we wanted to turn the following piece of text into a string?

> Javascript is a "real" programming language.

Notice that the text itself includes quotation marks. If we try to wrap the whole piece of text with double-quotes, Python will get upset:

In [ ]:
"Javascript is a "real" programming language.

When Python sees the first `"`, it thinks to itself: OK, this is a string. It continues reading until it find the second `"`, right before `real`. It then thinks the string is over -- but it isn't.

To avoid confusing Python, we can instead use single-quotes to delineate the string:

In [ ]:
'Javascript is a "real" programming language'

In this case, single-quotes were preferable, but that's not always the case. For instance, suppose we want to represent the string:

> Python: a data scientist's best friend.

We can't use single quotes here because of the apostrophe in "scientist's". So we surround the string with double quotes:

In [ ]:
"Python: a data scientist's best friend"

There is another way we can handle strings containing single- and double-quotes: We can "escape" the character by prefixing it with a backslash `\`.  This will tell Python to treat the character differently than it normally would -- in this case, it tells Python not to end the string.
This is very helpful when both single quotes *and* double quotes appear in the string!

In [ ]:
'They said, "escaping isn\'t so bad," and I believe them!'

## String Methods

What are some things you might want to do with strings? For one, you might want to combine two strings into one longer string. Doing so in Python is easy: we can simply use `+`.

In [3]:
s1 = 'Data'
s2 = 'Science'
s1 + s2

'DataScience'

Combining two strings in this way is called *concatenation*.

````{hiddenanswer}
---
question: |
    Given the following variables, write an expression that concatenates the two strings and adds a space in between. The output should be `'red fish blue fish'`

    ```
    string1 = "red fish"
    string2 = "blue fish"
    ```
answer: |
    ```
    string1 + ' ' + string2
    ```
````

What else might you want to do with a string? Capitilizing a string seems like a common task. Luckily, Python provides a function to do just this. However, unlike the functions we have seen so far (like `abs()` and `round()`), the `capitalize()` function is *attached to the string itself*. We call it in a slightly different way:

In [6]:
'data science is awesome'.capitalize()

'Data science is awesome'

Functions that are attached to the things they operate on are called *methods* -- but don't worry too much about the difference in name. Just remember that methods are by placing a dot after the string, and then writing the function name.

Methods can be called directly on a string, or the variable name of a string.

In [8]:
s = 'data science is awesome'
s.capitalize()

'Data science is awesome'

Strings have plenty of methods -- you can see them by typing "'some string'." and hitting tab. Here are a few examples:

In [12]:
"why am i yelling?".upper()

'WHY AM I YELLING?'

In [14]:
"THIS IS A LIBRARY PLEASE BE QUIET".lower()

'this is a library please be quiet'

In [15]:
"dive into data science".title()

'Dive Into Data Science'

In particular, the `replace` method is extremely powerful, since it allows us to find and replace sections of a string. The previous string methods we looked at took no arguments, but the `replace` methods takes two arguments: *the text to find*, and *the text to replace it with* (in that order).

In [16]:
'found you'.replace('you', 'Waldo')

'found Waldo'

Remember the empty string `''`? It's used a lot with `replace` in order to get rid of parts of text entirely! Notice that the text must match *exactly*, and is case sensitive!

In [22]:
'Hello, my name is **SNEEZE** Justin'.replace('**SNEEZE** ', '')

'Hello, my name is Justin'

In [23]:
'where\'s Waldo'.replace('w', '')

"here's Waldo"

Since the string methods we've looked at return more strings, we can even call more string methods on the result!

In [26]:
s = 'started with words'
t = s.replace('started', 'ended')
u = t.replace('words', 'a sentence')
v = u.capitalize()
v

'Ended with a sentence'

But here's a shortcut: we don't need to assign each result to intermediate variables. We can do it "all at once" with *method chaining*:

In [28]:
s = 'started with words'
s.replace('started', 'ended').replace('words', 'a sentence').capitalize()

'Ended with a sentence'

## Conversion

Data scientists sometimes get their data by *scraping* a webpage. For instance, suppose we want to know the water temperature in La Jolla (either to study the effects of climate change, or to know whether the water is nice for surfing). We can find the information we want on [the NOAA's website](https://www.ndbc.noaa.gov/station_page.php?station=ljac1). We can write some code to download this webpage and extract the data we need.
There's just one problem: webpages are just globs of text (that is, they are strings), but we want the temperature as a *number* (preferably a float). Luckily, converting back and forth between these types is easy.

Suppose we have a isolated the current ocean temperature as a string:

In [33]:
ocean_temp = '72.8'
ocean_temp

'72.8'

While this might look like a number, notice the quotation marks: this means that Python thinks of it as a piece of text.

In [35]:
type(ocean_temp)

str

As a result, we can't do math with the ocean temperature:

In [37]:
ocean_temp + 2

TypeError: can only concatenate str (not "int") to str

Here, Python has complained with a `TypeError`. Python is saying that it doesn't know how to combine objects of these types: `str` and `int`. To do the arithmetic, we need to convert the string to a float. We can do so with the `float` function:

In [32]:
float(ocean_temp)

72.8

In [38]:
float(ocean_temp) + 2

74.8

We can also convert a string to an integer using `int`:

In [40]:
days_since_last_beach_visit = '4'
days_since_last_beach_visit

'4'

In [41]:
int(days_since_last_beach_visit)

4

Be careful, though -- if you try to convert a string that doesn't look like an integer using `int`, Python will yell at you:

In [42]:
int('3.14')

ValueError: invalid literal for int() with base 10: '3.14'

If we *really* wanted to convert `'3.14'` to an integer, we would need to convert it to a float first:

In [43]:
int(float('3.14'))

3

### True/False - Booleans

A **Boolean** (named after [George Boole](https://en.wikipedia.org/wiki/Boolean_algebra)) is a logical data type, indicating whether something is True or False. It has the type `bool`.

In [ ]:
type(True)

#### Comparisons

Boolean values result when we use comparison operators to compare the value of two expressions.

The standard set of comparisons operators carries over from math,
- Less than `<`
- Less or equal `<=`
- Greater than `>`
- Greater or equal `>=`
- Equal `==`
- Not equal `!=`

Notice that the equal comparison operator distinguishes itself from the assignment operator by using *two* equal signs.

In [ ]:
1 == 0

Any expressions to the left or right of the comparison operator will be evaluated before the comparison is carried out.

In [ ]:
(3 * 4) / 6 < 1 + 2 + 3 + 4

And if there are multiple comparison operators in an expression, then each comparison must evaluate to True in order for the entire expression to be True.

In [ ]:
1 < 0 + 2 < 3

In [ ]:
1 != 3 <= 2

Since `3 <= 2` is False, the above expression evaluates to False.

We can use comparison operators on all sorts of things! For example, we can use the `==` and `!=` to check if *any* objects are equal in value.

In [ ]:
'Ronaldo' == 'Waldo'

In [ ]:
True != False

In [ ]:
sum == sum

And many objects support greater than/less than comparison too. For instance, a string is less than or greater than another string based on alphabetical order.

```{margin}
Technically, string comparisons compare using **lexicographical** order, which just means that text including numbers and symbols is also ordered.
```

In [ ]:
"Avocado" < "Banana" < "Cantaloupe"

In [ ]:
"1. Learn about Python" < "2. Learn about data science" < "3. Profit"

Notice that if you look at a dictionary, words like "Fire" will show up before "Fireplace" -- the same holds true with string comparisons in Python.

In [ ]:
"Fire" < "Fireplace" < "Fireplaces"

## A new type of error -- TypeErrors

We saw that we can use the addition operator to add two strings. But what happens if we try to add a number and a string?

In [ ]:
1 + '2'

We've successfully stumbled on another very common error, the `TypeError`. This happens when we try to use an operator on a type of object that doesn't support it!

Another type error (with a different explanation) arises if we try switching the order of the string and number.

In [ ]:
'2' + 1

Or if we try to use an operator that strings don't understand, like subtraction.

In [ ]:
'2' - '2'

Sometimes we'll get a type error when using a function call on an object of the wrong type, too. For example, if we try using a math function on a string.

In [ ]:
import math
math.log('2')

```{tip}
Notice that the explanation that follows the `TypeError` at the very bottom will almost always explain the data types of your operands -- which is helpful to figure out exactly what variables or values lead to the code breaking!
```

## Other data types

Once we move past primitives, our objects start getting more complex!

Remember, everything has a type. We saw at the beginning of this page that even functions are a type of object.

Besides functions, the most common types of objects we'll observe will act mostly like containers for raw data. Examples of these container-like data types include lists, arrays, and tables -- all of which are extremely useful and you'll soon know!

## Summary

- Multiple strings can be glued together using `+`.
- Strings own a handful of **methods** -- functions that belong solely to the data type of strings.
- String methods are called using **dot notation**, by placing a dot after a string or variable name of a string, then calling the function: `my_string.function_name(arguments, ...)`
- Some string methods allow you to create new strings that change capitalization or find and replace snippets of text.

Lots of objects can be compared using **comparison operators**, `<` `<=` `>` `>=` `==` `!=`, which will return a boolean value.

Trying to perform an operation on data types that don't support that operation will often result in a **TypeError**.

Most other data types that aren't primitive are either functions or act like containers for primitive types.